<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Nous contacter</h1>
    <p class="lead">Pour nous joindre, ça se passe sur Slack !</p>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><strong>Contact<strong/></div>
  <div class="card-body text-info">
    <h5 class="card-title">Via Slack :</h5>
    <p class="card-text">Brice - @brice<br/>Alexandre - @Lab's</p>
  </div>
</div>
