<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> La Team Toulouse</h1>
    <p class="lead">Hey ! Voici les deux petits toulousaings !</p>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><strong>Brice .J<strong/></div>
  <div class="card-body text-info">
    <h5 class="card-title">Team Toulouse</h5>
    <p class="card-text">Téléphone : 01 23 45 67 89<br/> Contact Slack : @brice</p>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><strong>Alexandre L.<strong/></div>
  <div class="card-body text-info">
    <h5 class="card-title">Team Toulouse</h5>
    <p class="card-text">Téléphone : 98 76 54 32 10<br/> Contact Slack : @Lab's</p>
  </div>
</div>
